- provide(:title, 'Expired')

%section.hero.is-warning.is-bold.is-fullheight
  .hero-body
    .container.has-text-centered
      = image_pack_tag 'sad-file.png',
        alt: 'No file',
        class: 'image is-128x128 center-block'
      %h1.title Expired Share
      %h2.subtitle This share no longer exists.
