%section.hero.is-primary.is-bold.is-fullheight
  .hero-body
    .container.has-text-centered
      %h1.title Vimeo Temp
      %h2.subtitle Create a temporary shared embed of a Vimeo video.
      = link_to 'New Share',
        new_share_path,
        class: 'button is-link is-large'
