- provide(:title, @share.uid)

- if @share.valid_json?
  %section.hero.is-primary.is-bold.is-fullheight
    .hero-body
      .container
        .video-container
          = raw @share.embed_code
- else
  %section.hero.is-warning.is-bold.is-fullheight
    .hero-body
      .container.has-text-centered
        = image_pack_tag 'sad-file.png',
          alt: 'No file',
          class: 'image is-128x128 center-block'
        %h1.title Missing Data
        %h2.subtitle
          This video is missing some data. Please contact the sender and ask
          them to send again.
